.sidebar{
margin:none;
}
.sidebar h2{
font-size:20px;}
#temp0, #humidity0{
	margin-right:5%;
font-size:50px;
}
#humidity0 {
margin-right:20%;}
.icon0 {
float:left;
}
#icon0 img{
width:100%;}
